<div class="footer bg-dark text-light py-4">
    <hr class="divider text-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <h4 class="mb-3">Thông tin liên hệ</h4>
                <p><i class="fa-solid fa-location-dot me-2"></i>Địa chỉ: 123, Võ Hoàng Việt, Đà Lạt</p>
                <p><i class="fa-solid fa-phone me-2"></i>Điện thoại: <a href="tel:0888823469" class="text-light text-decoration-none">0888823469</a></p>
                <p><i class="fa-solid fa-envelope me-2"></i>Email: <a href="mailto:hoangvietdoican2004@gmail.com" class="text-light text-decoration-none">hoangvietdoican2004&#64;gmail.com</a></p>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <h4 class="mb-3">Dịch vụ</h4>
                <p><i class="fa-solid fa-cog me-2"></i>Thiết kế website</p>
                <p><i class="fa-solid fa-code me-2"></i>Phát triển phần mềm</p>
                <p><i class="fa-solid fa-shield-alt me-2"></i>Bảo mật hệ thống</p>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <h4 class="mb-3">Mạng xã hội</h4>
                <p><i class="fa-brands fa-facebook me-2"></i><a href="https://www.facebook.com/hoangviet.vo.751/" target="_blank" class="text-light text-decoration-none">Facebook</a></p>
                <p><i class="fa-brands fa-instagram me-2"></i><a href="https://www.instagram.com/vi_etstheory/" target="_blank" class="text-light text-decoration-none">Instagram</a></p>
                <p><img style=" width: 20px;" src="assets/zalo.png" alt="" srcset=""><a style="margin-left: 5px;" href="https://zalo.me/0888823469" target="_blank" class="text-light text-decoration-none">Zalo</a></p>
            </div>
        </div>
    </div>
</div>

