.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link {
    color: white
}
.nav-link:hover{
    color: rgb(189, 195, 199);
}
.navbar-toggler-icon{
    filter: invert(100%);
}
#searchInput::placeholder {
    color: #aaa;
    font-style: italic;
    transition: color 0.3s ease;
  }
.pointer {cursor: pointer;}
/* Đảm bảo ul.dropdown-menu không chiếm không gian khi ẩn */
@media (min-width: 991px) {
    .card{
        width: 18rem;
        border: none;
    }
    /* Menu dọc */
    .dropdown {
        position: relative;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px); 
        transition: all 0.2s ease-in-out;
    
    }

    /* Chỉ hiển thị dropdown khi hover vào dropdown toggle */
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    /* Menu ngang */
    .sub-dropdown{
        position: relative;
    }
    .sub-dropdown-menu {
        background-color: white;
        position: fixed;
        top: 0;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10px); 
        transition: all 0.2s ease-in-out;
    }
    .sub-dropdown:hover .sub-dropdown-menu {
        display: block;
        margin-top: 0px;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .formsearch{
        position: relative;
        left: 20%;
    }
    .user{
        position:relative;
        left: 40%;
    }
    .navbar-dropdown{
        background-color: white;
        border-radius: 5px 5px 0 0;
        color: black;
    }
    .fullnavbar{
        height: 104px;
    }
    .row{
        padding-left: 10px;
    }
    
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.navbar {
    position: relative;
    z-index: 2;
}

}
.user  {
    display: flex;
    gap: 15px;
}

@media (max-width: 991px) {
    .user  {
        margin-top: 20px;
    }
    .dropdown-menu::before{
        transform: rotate(120deg);
    }
    .d-flex{
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
  .sub-dropdown-menu {
    display: none;
  }

  .nav-item.sub-dropdown.active .sub-dropdown-menu {
    display: block;
  }
  .sub-dropdown-menu.show {
    display: block;
  }
}

.dropdown-item{
    cursor: pointer;
}
 ul li{
    list-style: none;
}