<section style="background-color: rgb(206,34,34)" class="fixed-top fullnavbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand nav-link" href="#">Trang chủ
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">   
      </span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
       
        <div class="user">
          <button class="btn btn-outline-light" type="submit">Người dùng <i class="fa-solid fa-user"></i></button>
          <button class="btn btn-outline-light" type="submit">Giỏ hàng <i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
    </div>
  </nav>
  <!-- nav 2 -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Danh mục sản phẩm -->
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle navbar-dropdown " data-bs-auto-close="outside" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Danh mục sản phẩm
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu dropend">
              <li><a class="dropdown-item" href="#">Bảng giá</a></li>
              <!-- dropdown văn phòng -->
              <li class="nav-item sub-dropdown " >
                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">PC Văn Phòng
                </a>
                <ul class="dropdown-menu" style="padding: 10px; width: 1000px;">
                  <div class="row">
                    <div class="col-12 col-md-4 mb-3">
                      <p style="font-weight: 500;">Cấu hình văn phòng</p>
                      <li ><a href="#" class="dropdown-item" >NTC - Pentium Gold G6400</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC - Core i3 10105</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC - Core i5 10400</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC - Core i3 12100</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC - Core i5 12400</a></li>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                      <p style="font-weight: 500;">Máy bộ HP - Dell - LENOVO</p>
                      <li ><a href="#" class="dropdown-item" >Máy bộ văn phòng</a></li>
                    </div>
                  </div>
                </ul>
              </li>
              <!-- dropdown gaming -->
              <li><a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">PC Gaming</a>
                <ul class="dropdown-menu" style="padding: 10px; width: 400px;">
                  <div class="row">
                    <div class="col-12 col-md-3 mb-4">
                      <p style="font-weight: 500;">Cấu hình gaming</p>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                      <p style="font-weight: 500;">Cấu hình gaming 2</p>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                      <li ><a href="#" class="dropdown-item" >NTC</a></li>
                    </div>
                  </div>
                </ul>
              </li>
              <!--  -->
            </ul>
          </li>
          <!--Hướng dẫn trả góp  -->
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Hướng dẫn trả góp</a>
          </li>
          <!-- Chính sách vận chuyển -->
          <li class="nav-item">
            <a class="nav-link " href="#">Chính sách vận chuyển</a>
          </li>
          <!-- Chính sách đổi trả và bảo hành -->
          <li class="nav-item">
            <a class="nav-link " href="#">Đổi trả và bảo hành</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

