<div class="wrap">
    <div class="container">
        <h1 >Chính sách giao hàng</h1>
        <h4 style="text-align: center;">Chính sách giao hàng</h4>
        <p class="title">
            Nguyentanpc.com luôn hướng đến việc cung cấp dịch vụ vận chuyển tốt nhất với mức phí cạnh tranh cho tất cả các đơn hàng mà quý khách đặt với chúng tôi. Chúng tôi hỗ trợ giao hàng trên toàn quốc với chính sách giao hàng cụ thể như sau:
        </p>
        <ol>
            <li>
                <span style="font-weight: bold;">Phí giao hàng tại cửa hàng (Đại lý):</span>
                <ul>
                    <li class="title">Nguyentanpc.com áp dụng mức phí giao hàng theo chi phí đã được ký với bên đối tác chịu trách nhiệm vận chuyển, giao nhận cho tất cả các đơn hàng được đặt thành công.</li>
                    <li class="title">Đối với khách hàng ở các Tỉnh, Thành phố có cửa hàng của công ty, chúng tôi sẽ tiến hành gửi giao hàng tận nơi cho Khách hàng. </li>
                </ul>
            </li>
            <li>
               <span style="font-weight: bold;">Thời gian giao hàng:</span>
            </li>
            <ul>
                <li class="title">Nguyentanpc.com sẽ yêu cầu bên vận chuyển hàng giao hàng cho khách hàng trong thời gian thỏa thuận khi quý khách thực hiện đầy đủ các thủ tục đặt hàng. Thời gian vận chuyển hàng thường mất ít nhất 3 - 5 ngày làm việc (không tính thứ bảy, chủ nhật hay các ngày lễ tết).</li>
                <li class="title">Trong trường hợp quý khách chọn hình thức thanh toàn bằng thẻ tín dụng, thời gian xử lý đơn hàng sẽ được tính từ khi Nguyentanpc.com nhận được thanh toán hoàn tất của quý khách. Xin lưu ý rằng Nguyentanpc.com bảo lưu quyền thay đổi thời gian giao hàng mà không cần báo trước trong trường hợp chịu ảnh hưởng của thiên tai hoặc các sự kiện đặc biệt khác.</li>
                <li class="title">Đơn hàng của quý khách sẽ được giao tối đa trong 2 lần (trường hợp lần đầu giao hàng không thành công, sẽ có nhân viên liên hệ để sắp xếp lịch giao hàng lần 2 với quý khách. Chúng tôi sẽ cố gắng liên hệ lại trong 2 ngày làm việc tiếp theo (qua tin nhắn hoặc gọi trực tiếp), trong trường hợp vẫn không thể liên lạc lại được hoặc không nhận được bất kì phản hồi nào từ phía quý khách, đơn hàng sẽ không còn hiệu lực.</li>
                <li class="title">Để kiểm tra thông tin hoặc tình trạng đơn hàng của quý khách, xin vui lòng liên hệ với bộ phận Chăm sóc khách hàng.</li>
                <li class="title">Khi hàng được chuyển giao đến quý khách, xin vui lòng hoàn tất việc thanh toán và ký xác nhận với nhân viên giao hàng trước, sau đó quý khách vui lòng kiểm tra nếu sản phẩm có bất kỳ lỗi hay khiếm khuyết nào. Xin quý khách vui lòng giữ lại biên lại vận chuyển để kiểm tra.</li>
            </ul>
        </ol>
    </div>
</div>